body{
    background-color:darkgray;
}

#employee-details{
    background-color: rgba(20, 123, 220, 0.384);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;  
    font-size: 125%;
    top:20%;
    position: absolute;
    width: 94%;
}

#emp_id{
    position: absolute;
    left: 2%;
    top: 7%;
}

#emp_name{
    position: absolute;
    right: 2%;
    top: 7%;  
} 

#emp_designation{
    position: absolute;
    left: 2%;
    top: 47%;
}

#emp_department{
    position: absolute;
    right: 2%;
    top: 47%;
} 

#leave_available, #leave_applied{
    position: absolute;
    top:43%;
    left: 34%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

#leave_applied{
    position: absolute;
    top:58%;
    left:28%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}